// les couleurs
$primary-color: #5a6f08;
$secondary-color: #93ad18;
$header-bg-color: rgba(90, 111, 8, 0.9);
$bg-color: white;
$error-color: red;

$border-radius: 4px;
$shadow: 0 5px 5px rgba(0, 1, 5, 0.2);

/* -------------------------
MEDIA QUERIES 
----------------------------*/
$small: 768px;
$large: 1024px;

$small-up: "only screen and (min-width: #{$small})";
$small-down: "only screen and (max-width: #{$small})";
$large-up: "only screen and (min-width: #{$large})";
