
$primary-color: #5a6f08;
$secondary-color: #93ad18;
$error-color: red;
$shadow-color: rgba(0, 0, 0, 0.2);
$border-radius: 4px;
$flex-common: 1 1 0%;

$header-bg-color: rgba(90, 111, 8, 0.9);
$header-shadow: 0 5px 5px rgba(0, 1, 5, 0.2);
$header-color: white;
$header-font-size-small: 15px;
$header-font-size-medium: 30px;
$header-font-size-large: 42px;
$media-breakpoint: 768px;